<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="../css/mainCss.css">
  <title>Scan CodeBar</title>
</head>
<body>

  <header>
    <div class="cont-left-side-header">
      <div class="icon-menu-and-sidebar">
        <div class="menu" id="menu-burguer" onclick="openSidebar()"><i id="ham-men" class="fa-solid fa-bars"></i></div>
        <aside class="nav" id="nav">
          <div class="products-menu-txt"><a href="#">Produtos</a></div>
          <div class="rooms-menu-txt"><a href="#">Salas</a></div>
          <div class="access-menu-txt"><a href="#">Utilizadores</a></div>
        </aside>
      </div>
      <div class="tittle">Scan CodeBar</div>
    </div>
    <div class="cont-right-side-header">
      <div class="user" id="user-name">Isaac</div>
    </div>
  </header>

  <div class="container">
    <div class="searchbar">
      <input type="search" id="searchbar">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Código</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody id="items-table">
      </tbody>
    </table>
  </div>


  <!-- Main Script -->
  <script src="../script/mainScript.js"></script>


  <!-- Own Script -->
  <script>
  // Fetch on db
  document.addEventListener("DOMContentLoaded", () => {
    fetch('http://127.0.0.1:5000/products')
        .then(response => {
          if (!response.ok) throw new Error('Erro na requisição');
          return response.json();
        })
        .then(data => {
          const tableBody = document.getElementById('items-table');
          tableBody.innerHTML = ''; 
    
          data.forEach(product => {
            const row = document.createElement('tr');
    
            row.innerHTML = `
              <td>${product.product_id}</td>
              <td>${product.product_name}</td>
              <td>${product.product_code}</td>
              <td>${product.product_class}</td>
            `;
    
            tableBody.appendChild(row);
          });
        })
        .catch(error => {
          console.error('Erro ao buscar os produtos:', error);
        });
    });
  </script>

  <style>
  /* Main Container */
  .container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    width: 1000px;
    height: 80vh;
  }

  table{
    background-color: var(--sec-bg);
    width: 100%;
    border-collapse: collapse;
    color: #fff;
  }

  td{
    border-top: 1px solid #cccccc70;
    padding: 12px 15px;
    text-align: center;
  }

  th{
    padding: 12px 15px;
    text-align: center;
  }
  </style>

</body>
</html>