@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --standart-bg: #131314;
    --sec-bg: #1f1f1f;
    --third-bg: #303030;
}

body{
    background-color: var(--standart-bg);
}

/* Header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    padding: 20px;
    color: #fff;
}
/* ============= */

/* Sidebar */
.cont-left-side-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.menu, .tittle, .user{
    font-size: 1.3em;
}

.menu{
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    left: -100%;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--sec-bg);
    transition: .1s ease;
    gap: 30px;
}

.nav.active{
    left: 0;
}

.nav div{
    width: 100%;
    font-size: 1.2em;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
    transition: .1s ease;
}

.nav div:hover{
    background-color: #30303083;
}

.nav div a{
    color: #fff;
    text-decoration: none;
}
/* ======== */